@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');

.btn {
    width: 140px;
    height: 40px;
    background: #8643DC;
    border-radius: 100px;
}

.style {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #25202F;
}

h1 {
    font-family: Red Hat Display;
    font-weight: 500;
    font-style: normal;
    line-height: 120%;
    font-size: 60px;
    color: #111;
}

.back-color {
    background-image: url("bg.png");
    background-size: cover;
    background-position: center;
}